.item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    width: 25%;
    max-height: 10px;
    overflow: hidden;
    background-color: $color-primary;
    border: 2px solid $color-secondary;
    text-decoration: none;
    color: $color-secondary;
    &:hover {
        box-shadow: $hilight-color 0px 0px 0px 10px;
        max-height: unset;
    }

    p:not(.information) {
        margin-bottom: 10px;
        border-bottom: 2px solid $hilight-color;
    }
    .information {
        list-style-type: '- ';
    }
}